html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

* {
    font-family: sans-serif;
    color: #333;
}

h3 {
    color: #e5e5e5;
}

a h3 hover{
    color: white;
}

a {
    text-decoration: none;
}

.wrapper {
    min-width: 1050px;
    min-height: 100%;
    background-color: black;
}

.signInContainer {
    background-color: #efefee;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.column {
    background-color: white;
    min-height: 300px;
    max-height: 100%;
    height: 600px;
    width: 450px;
    box-shadow: rgba(0,0,0,0.1) 0 2px 5px;
    overflow: auto;
}

.columnLogin {
    background-color: white;
    min-height: 300px;
    max-height: 100%;
    height: 400px;
    width: 450px;
    box-shadow: rgba(0,0,0,0.1) 0 2px 5px;
    overflow: auto;
}

.column form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.column form input[type="text"],
.column form input[type="email"],
.column form input[type="password"] {
    font-size: 14px;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid #dedede;
}

.column form input[type="submit"] {
    background-color: tomato;
    color: white;
    height: 36px;
    width: 88px;
    border: none;
    border-radius: 3px;
    font-weight: 500;
    margin-top: 10px;
    box-shadow: rgba(0,0,0,0.1) 0 2px 5px;
    font-size: 16px;
    align-self: center;
}

.column .header {
    padding: 2rem;
}

.column .header h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin: 0;
    padding-top: 16px;
    color: #000;
}

.column .header span {
    font-size: 14px;
    font-weight: 200;
}

.column .header img {
    width: 150px;
    padding-left: 30%;
}

.signInMessage {
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    padding-left: 2rem;
    padding-bottom: 1rem;
    color: tomato;
}

.columnLogin form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.columnLogin form input[type="text"],
.columnLogin form input[type="email"],
.columnLogin form input[type="password"] {
    font-size: 14px;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid #dedede;
}

.columnLogin form input[type="submit"] {
    background-color: tomato;
    color: white;
    height: 36px;
    width: 88px;
    border: none;
    border-radius: 3px;
    font-weight: 500;
    margin-top: 10px;
    box-shadow: rgba(0,0,0,0.1) 0 2px 5px;
    font-size: 16px;
    align-self: center;
}

.columnLogin .header {
    padding: 2rem;
}

.columnLogin .header h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin: 0;
    padding-top: 16px;
    color: #000;
}

.columnLogin .header span {
    font-size: 14px;
    font-weight: 200;
}

.columnLogin .header img {
    width: 150px;
    padding-left: 30%;
}

.errorMessage {
    color: tomato;
    font-size: 14px;
    font-weight: 400;
    text-align: center;    
}

.previewVideo{
    width: 100%;
}

.previewVideoContainer{
    width: 100%;
    position: relative;
    background: blue;
    overflow: hidden;
}

.previewContainer .fade{
    width: 100%;
    height: 200px;
    z-index: 99;
    position: absolute;
    bottom: 0;
    background: url(../images/bottom-fade.webp) bottom center;
}

.previewImage{
    width: 100%;
}

.previewContainer{
    position: relative;
    display: flex;
}

.previewContainer.small {
    width: 230px;
    height: 129px;
    margin-right: 4px;
    display: inline-flex;
}

.previewContainer.small img{
    width:100%;
    height: 100%;
    object-fit: cover;
}

.previewOverlay{
    width: 100%;
    height: 99%;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
}

.previewOverlay .mainDetails h3{
    color: white;
    font-size: 40px;
    margin: 15px 0;
}

.previewOverlay .mainDetails {
    position: relative;
    top:35%;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.mainDetails button {
    background-color: rgba(51,51,51,0.4);
    color: white;
    border: none;
    min-width: 150px;
    padding: 0 38px;
    height: 50px;
    max-height: 50px;
    font-size: 18px;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-right: 10px;
    cursor: pointer;
}

button i {
    color: inherit;
}

.button-spacer{
    margin-right:15px;
}

.mainDetails button:hover{
    background-color: #e6e6e6;
    color: black;
}

.category {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    margin-left: 35px;
    margin-right: 15px;
}

.entities, .videos {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.disable-scrollbars::-webkit-scrollbar {
    background: transparent; /* Chrome/Safari/Webkit */
    width: 0px;
  }
      
  .disable-scrollbars {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
  }

.errorBanner {
    color: white;
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
    font-size: 48px;
}

.season {
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
}

.episodeContainer {
    display: inline-flex;
    justify-content: center;
    margin-right: 4px;
}

.episodeContainer .contents {
    display: flex;
    flex-direction: column;
    width: 230px;
}

.episodeContainer img {
    width: 230px;
    height: 129px;
    object-fit: cover;
}

.episodeContainer .videoInfo h4, .episodeContainer .videoInfo span{
    color: white;
    width: 100%;
    white-space: normal;
}

.previewCategories.noScroll .category .entities{
    white-space: normal;
}